[submodule "ruby/puppet"]
	path = ruby/puppet
	url = https://github.com/openvoxproject/puppet.git
[submodule "ruby/hiera"]
	path = ruby/hiera
	url = https://github.com/openvoxproject/hiera.git
[submodule "ruby/resource_api"]
	path = ruby/resource_api
	url = https://github.com/openvoxproject/puppet-resource_api.git
[submodule "ruby/facter"]
	path = ruby/facter
	url = https://github.com/openvoxproject/facter.git
